<!DOCTYPE html>
<html>
<head>
  <title>Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<%= link_to "sample app", '#', id: "logo" %>
		<nav>
			<ul class="nav navbar-nev navbar-right">
				<li><%= link_to ""%></li>
		</nav>
		<%= yield %>

</body>
</html>
